@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

section{
    background: linear-gradient(#ca7484,#500e11);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: none;
    padding: 1.5rem;
    width: 650px;
    background: #fff;
    border-radius: 15px;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}

.input-box input{
    margin-left: 1.75rem;
    font-size: 1.25rem;
    background: #cacaca;
    padding: 1.25rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    width: 70%;
    outline: none;
}


.input-box button{
    background: #4f6bb9;
    font-size: 1.25rem;
    padding: 1.25rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -4px;
    border: none;
    color: #fefefe;
    cursor: pointer;
    font-weight: 500;
}

#item-list{
    width: 90%;
    margin: 2rem auto;
}

ul{
    list-style: none;
}

.itens{
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    padding: 1.15rem;
}


i{
    cursor: pointer;
}

.checked-infos span{
    margin-left: 1rem;
}

.item-checked{
    font-size: 1.5rem;
}

.checked-verification{
    text-decoration: line-through;
    border-radius: 15px;
}

.after-click{
    background-color: green;
    border-radius: 50%;
    padding: .3rem;
}